doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src="https://cdn.tailwindcss.com") 
  body
    //- full use
    div(class="header")
      block header

    //- short use
    .content
      block content

    .footer
      block footer
  #fb-root
  #fb-customer-chat.fb-customerchat
  script.
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "244940405931282");
    chatbox.setAttribute("attribution", "biz_inbox");
    window.fbAsyncInit = function() {
    FB.init({
    xfbml            : true,
    version          : 'v12.0'
    });
    };
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));



